.educationArticle {
  h3 {
    font-size: 28pt;
  }

  .articleHeading {
    width: 700px;
  }

  .degree {
    font-size: 20pt;
    margin-top: auto;
    margin-bottom: auto;
  }

  .duration {
    font-size: 16pt;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.courseInfo {
  width: 250px;

  .mainBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    z-index: 2;
  }

  .selectionLineWrapper {
    height: 0px;
    width: 0px;
  }

  .selectionLine {
    position: relative;
    top: -20px;
    left: 50px;
    height: 2px;
    width: 50px;
  }

  .content {
    width: 150px;
  }

  h5 {
    font-size: 14pt;
    margin: 0;
  }
  .courseTitle {
    font-size: 10pt;
    margin: 0;
  }
  .arrowWrapper {
    z-index: 4;
  }
  .arrow {
    font-size: 40px;
    margin: 0;
  }
}
