@import "src/scss/variables.scss";

.homepageHeader {
  width: 100%;

  @each $size, $padding-top in (xs: 50px, lg: 100px) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      padding-top: $padding-top;
    }
  }

  @each $size, $padding-bottom in (xs: 50px, lg: 100px) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      padding-bottom: $padding-bottom;
    }
  }

  .nameWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
    }
  }

  .introductionGroup {
    max-width: 800px;
    flex-grow: 1;
  }

  .name {
    @each $size, $font-size in (xs: 70pt, lg: 100pt) {
      @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
        font-size: $font-size;
      }
    }
    text-align: center;
    margin: 0;
    order: 1;
  }

  .preTitle {
    text-align: left;
  }

  .postTitle {
    text-align: right;
    margin-top: 20px;
  }

  .preTitle,
  .postTitle {
    margin: 0;
    font-size: 32pt;
  }

  .imageSelf {
    text-align: center;
    order: 1;
  }

  .skillBrag {
    text-align: center;
    font-size: 16pt;
    order: 2;
    max-width: 800px;
  }

  @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    .preTitle,
    .postTitle {
      font-size: 24pt;
      text-align: center;
    }
  }
}
