@import "src/scss/variables.scss";

.projectCard,
.projectCard::before,
.projectCard::after {
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;

  cursor: pointer;
  height: 170px;
  border-radius: 20px;
  position: relative;
  background-color: white;

  @each $size, $width in (xs: 300px, sm: 450px, md: 300px, lg: 400px, xl: 350px)
  {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      width: $width;
    }
  }
}

.title {
  padding: 3px;
  @each $size, $font-size in (xs: 15pt, md: 17pt, lg: 20pt) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      font-size: $font-size;
    }
  }
}

.title.border {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10px;
  background-color: rgba($color: white, $alpha: 0.7);
}

.projectCard::before {
  filter: brightness(3) saturate(1.2) blur(1px);
}

.tags {
  border-radius: 10px;
}

.tags.border {
  padding: 5px;
  background-color: rgba($color: gray, $alpha: 0.5);
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}

.projectCard:hover {
  background-color: #e9e7e7;
}
