@import "src/scss/variables.scss";

.projectCard {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  background-color: #ecccb9;
  cursor: pointer;
  height: 160px;
  border-radius: 20px;

  h3 {
    @each $size, $font-size in (xs: 15pt, md: 17pt, lg: 20pt) {
      @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
        font-size: $font-size;
      }
    }
  }

  @each $size, $width in (xs: 300px, md: 300px, lg: 400px, xl: 350px) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      width: $width;
    }
  }
}

.projectCard:hover {
  background-color: #e9e7e7;
}
