.projectCard {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  background-color: #ecccb9;
  cursor: pointer;
  width: 350px;
  height: 160px;
  border-radius: 20px;

  h3 {
    font-size: 24px;
  }
}

.projectCard:hover {
  background-color: #e9e7e7;
}
