@import "styles/variables.scss";

.header {
  text-align: center;

  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;

  h1 {
    margin-bottom: 15px;
  }

  p {
    font-size: 18pt;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    padding-left: 50px;
    padding-right: 50px;

    h1 {
      margin-bottom: 30px;
    }

    p {
      font-size: 20pt;
    }
  }

  h1,
  p {
    color: $black;
  }

  @each $size, $font-size in (xs: 35pt, sm: 40pt, lg: 50pt) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      h1 {
        font-size: $font-size;
      }
    }
  }
}

.above {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
