@import "../../styles/variables.scss";

.homepageHeader {
  width: 100%;

  @each $size, $padding-top in (xs: 50px, lg: 100px) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      padding-top: $padding-top;
    }
  }

  @each $size, $padding-bottom in (xs: 50px, lg: 100px) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      padding-bottom: $padding-bottom;
    }
  }

  padding-left: 20px;
  padding-right: 20px;
}

.nameWrapper {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: map-get($grid-breakpoints, md)) {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
}

.introductionGroup {
  max-width: 700px;
  flex-grow: 1;
}

.name {
  @each $size, $font-size in (xs: 4rem, sm: 4.5rem, lg: 7rem) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      font-size: $font-size;
    }
  }
  text-align: center;
  margin: 0;
  order: 1;
}

.preTitle {
  text-align: left;
}

.postTitle {
  text-align: right;
  margin-top: 20px;
}

.preTitle,
.postTitle {
  margin: 0;
  @each $size, $font-size in (xs: 24pt, sm: 28pt, lg: 32pt) {
    @media only screen and (min-width: map-get($grid-breakpoints, $size)) {
      font-size: $font-size;
    }
  }
}

.imageSelf {
  margin-left: 20px;
  min-width: 300px;
  img {
    border-radius: 150px;
  }
}

.skillBrag {
  text-align: center;
  font-size: 16pt;
  order: 2;
}

@media only screen and (max-width: map-get($grid-breakpoints, sm)) {
  .preTitle,
  .postTitle {
    font-size: 24pt;
    text-align: center;
  }
}
