@use '../bootstrap.scss' as bootstrap;
@use "sass:map";

.positionTitle {
  display: inline-block;
}

.durationTitleWrapper {
  float: right;
}

.durationTitle {
  display: inline-block;
  font-size: 14pt;
  padding-top: 5pt;
  color: #efefef;
  margin-bottom: 4px;
}

.tagline {
  font-size: 15pt;
  line-height: 15pt;
  margin-bottom: 10px;
}

.workExperience hr {
  border-top-color: #303030;
}

@media only screen and (max-width: map.get(bootstrap.$grid-breakpoints, "md")) {
  .durationTitleWrapper {
    float: none;
  }
  .durationTitle {
    font-size: 12pt;
    padding-top: 0px;
  }
}
