.homepageTop {
  width: 100%;
}

.headlineOuter {
  width: 100%;
  height: 500px;
}

.headline {
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  text-align: center;
}

.subRow {
  display: inline;
}

.subDisplayOuter {
  width: 50%;
  height: 180px;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.subDisplay {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 880px) {
  .headlineOuter {
    height: 400px;
  }
  .headline {
    padding-top: 40px;
  }
  .subDisplayOuter {
    width: 100%;
  }
}
