@import "./sizes.scss";
@import "src/scss/colors.scss";

.footer {
  height: $footer-height;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: $footer-bg-color;
  p {
    color: whitesmoke;
  }
}
