@import "./sizes.scss";

.footer {
  height: $footer-height;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #202030;
  p {
    color: whitesmoke;
  }
}
