@import "../../scss/colors.scss";
@import "../../scss/fonts.scss";
@import "./sizes.scss";

@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

p,
li {
  font-family: $font-body;
}

html,
body {
  height: 100%;
  background-color: #ffe0ce;
  color: #333333;
}

.nteract-display-area-stdout {
  font-family: $font-mono;
}

.root-wrapper {
  min-height: 100%;
  padding-top: $navbar-height;
  position: relative;
}

main {
  padding-bottom: $footer-height;
  a {
    color: #1d2e82;

    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-bottom: 4px none;
  }

  a:hover {
    color: #8a0b81;
    text-decoration: none;
    border-bottom: 4px dotted #81890b;
  }
}

.wide-card-columns {
  @media (min-width: 34em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 48em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 62em) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  @media (min-width: 75em) {
    .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
}
