@import "src/scss/variables.scss";
@import "src/scss/content.scss";

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebarGroup {
  h2 {
    font-size: 18pt;
  }
  li {
    font-size: 14pt;
  }

  th,
  td {
    font-size: 14pt;
  }

  th {
    vertical-align: top;
    padding-right: 10px;
  }

  td {
    p {
      margin: 0;
      font-size: 14pt;
    }
  }
  margin-top: 10px;
  margin-bottom: 20px;
}

.content {
  padding-bottom: 20px;
  margin-bottom: 20px;

  $border-style: 1px dashed gray;
  border-bottom: $border-style;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    border-bottom: none;
    border-right: $border-style;
  }
}

.statusData {
  text-align: right;
  color: $text-muted;
}
