@import "../../scss/fonts.scss";
@import "../../scss/colors.scss";
@import "./sizes.scss";

.main-navbar {
  .navbar-toggler {
    border-color: #999999;
    color: $pink;
  }
  .navbar-brand,
  .nav-link {
    -moz-transition: "color,border-bottom" 0.1s ease-in;
    -o-transition: color 0.1s ease-in;
    -webkit-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in;
    border-bottom: 3px solid transparent;
  }

  .navbar-brand.active,
  .nav-link.active {
    border-bottom: 3px solid $cyan;
    color: white;
  }

  .nav-link {
    box-shadow: none;
    color: $pink;
    font-family: $font-header;
    font-size: 16pt;
    border-bottom: none;
  }

  .nav-link:hover {
    color: white;
  }

  .nav-link.active {
    color: $lightblue;
  }

  .navbar-brand {
    box-shadow: none;
    color: $lightblue;
    font-family: $font-header;
    font-size: 20pt;
  }

  .navbar-brand:hover {
    color: white;
  }
  background-color: $navbar-bg;
  height: $navbar-height;
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
  background-color: $navbar-dropdown-bg;
}
