@import "src/scss/fonts.scss";
@import "src/scss/variables.scss";

$dropdown-active-thickness: 5px;
$navbar-active-thickness: 3px;

$navbar-bg: $primary-dark;
$navbar-dropdown-bg: $primary-main;

$active-color: $secondary-light;
$brand-color: $lightblue;
$nav-link-color: white;
$nav-link-active-color: $secondary-main;
$nav-link-hover-color: $secondary-light;
$burger-color: white;
$burger-hover-color: $secondary-light;

@mixin bottom-highlight-active($breakpoint) {
  @media only screen and (min-width: map-get($grid-breakpoints, $breakpoint)) {
    border-bottom: $navbar-active-thickness solid transparent;
    border-left: none;
    &.active {
      border-bottom-color: $nav-link-active-color;
    }
  }
}

@mixin left-highlight-active($breakpoint) {
  @media only screen and (min-width: map-get($grid-breakpoints, $breakpoint)) {
    border-left: $dropdown-active-thickness solid transparent;
    &.active {
      border-color: $active-color;
    }
  }
}

.main-navbar {
  width: 100vw;

  .navbar-toggler {
    border-color: $burger-color;
    color: $burger-color;
    &:hover {
      border-color: $burger-hover-color;
      color: $burger-hover-color;
    }
  }

  .nav-link {
    @include left-highlight-active(xs);
    @include bottom-highlight-active(md);
  }

  .navbar-brand {
    @include bottom-highlight-active(xs);
  }

  .nav-link {
    transition: color 0.1s ease-in;
    box-shadow: none;
    color: $nav-link-color;
    font-family: $headings-font-family;
    font-size: 16pt;
  }

  .nav-link.active {
    color: $nav-link-active-color;
  }

  .navbar-brand:hover,
  .nav-link:hover {
    color: $nav-link-hover-color;
  }

  .navbar-brand {
    box-shadow: none;
    color: $brand-color;
    font-family: $headings-font-family;
    font-size: 20pt;
  }

  .navbar-separator {
    flex-grow: 1;
  }

  background-color: $navbar-bg;
  height: $navbar-height;
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
  background-color: $navbar-dropdown-bg;
}
