@import "src/scss/variables";

.header {
  text-align: center;

  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

  h1,
  p {
    color: $black;
  }

  h1 {
    font-size: 70pt;
    margin-bottom: 50px;
  }

  p {
    font-size: 20pt;
  }
}

.above {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
