[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-framework = "*"
django-webmention = "*"
python-dotenv = "*"
pygithub = "*"
requests = "*"
requests-oauthlib = "*"
django = "*"
oauthlib = "*"
djangorestframework = "*"
google-auth = "*"
django-oauth-toolkit = "*"
pillow = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
django-cors-headers = "*"
django-structlog = "*"
structlog = "*"
djangorestframework-simplejwt = "*"
python-logstash = "*"
markdown = "*"
bleach = "*"
django-cached-field = "*"
django-celery = "*"
djangorestframework-recursive = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-slugify = "*"
lxml = "*"
celery = "*"

[dev-packages]
freezegun = "*"
coverage = "*"

[requires]
python_version = "3.9"
