[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
celery = "*"
django = "*"
django-cached-field = "*"
django-celery = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
django-rest-framework = "*"
django-structlog = "*"
django-webmention = "*"
djangorestframework = "*"
djangorestframework-recursive = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gunicorn = "*"
lxml = "*"
markdown = "*"
oauthlib = "*"
pillow = "*"
psycopg2-binary = "*"
pygithub = "*"
python-dotenv = "*"
python-slugify = "*"
requests = "*"
requests-oauthlib = "*"
structlog = "*"

[dev-packages]
coverage = "*"
freezegun = "*"

[requires]
python_version = "3.9"
