-i https://pypi.org/simple/
amqp==1.4.9
anyjson==0.3.3
asgiref==3.3.1
billiard==3.3.0.23
bleach==3.3.0
cachetools==4.2.1
celery==3.1.26.post2
certifi==2020.12.5
chardet==4.0.0
deprecated==1.2.12
django-cached-field==1.5.1
django-celery==3.3.1
django-cors-headers==3.7.0
django-ipware==3.0.2
django-oauth-toolkit==1.3.3
django-rest-framework==0.1.0
django-structlog==2.1.0
django-webmention==2.0.1
django==3.1.6
djangorestframework-recursive==0.1.2
djangorestframework-simplejwt==4.6.0
djangorestframework==3.12.2
google-api-core==1.26.1
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-auth==1.24.0
googleapis-common-protos==1.53.0
gunicorn==20.0.4
httplib2==0.19.0
idna==2.10
kombu==3.0.37
markdown==3.3.3
oauthlib==3.1.0
packaging==20.9
pillow==8.1.1
protobuf==3.15.6
psycopg2-binary==2.8.6
pyasn1-modules==0.2.8
pyasn1==0.4.8
pygithub==1.54.1
pyjwt==1.7.1
pyparsing==2.4.7
python-dotenv==0.15.0
python-logstash==0.4.6
pytz==2021.1
requests-oauthlib==1.3.0
requests==2.25.1
rsa==4.7.2 ; python_version >= '3.6'
six==1.15.0
sqlparse==0.4.1
structlog==20.2.0
uritemplate==3.0.1
urllib3==1.26.4
webencodings==0.5.1
wrapt==1.12.1
