@import "src/scss/colors.scss";

.cardsContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
  text-align: center;
  background-color: $black;

  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

  h1,
  p {
    color: $white;
  }

  h1 {
    font-size: 70pt;
    margin-bottom: 50px;
  }

  p {
    font-size: 20pt;
  }
}

.projectCardWrapper {
  padding-bottom: 20px;
}

.main {
  background-color: #002456;
  margin-top: 0;
}

.tagsFilterBar {
  background-color: $main-bg-color;
}
