.viewWrapper {
  width: 100vw;
  height: 100vh;
}

.cardsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  columns: 3;
}

.projectCardWrapper {
  padding-bottom: 20px;
}

.main {
  background-color: #002456;
  padding-bottom: 0;
  margin-top: 0;
}

.swimlane {
  flex-grow: 1;
  margin-left: 50px;
  margin-right: 50px;
  width: 200px;
}

.swimlaneHeader {
  background-color: orange;
  padding: 5px;
  display: inline-block;
  h2 {
    color: white;
    display: inline;
  }
}

.swimlaneScroll {
  overflow-y: auto;
  height: 100%;
}

.swimlaneContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid orange;
}
