@import "src/scss/variables.scss";

.cardList {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardSectionTitle {
  color: white;
}

.cardGroupOuter {
}

.projectCardWrapper {
  padding-bottom: 20px;
}

.selectableTagsContainer {
  height: 250px;
  overflow-y: scroll;
}

.selectableTag {
  cursor: pointer;
}

.deletableTag {
  margin-right: 5px;
  cursor: pointer;
}

.main {
  background-color: #002456;
  margin-top: 0;
}

.searchSection {
  background-color: $main-bg-color;
  padding: 20px;
}
