@import "../../styles/variables.scss";

$group-spacing: 20px;

.cardList {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardSectionTitle {
  color: white;
}

.cardGroupOuter {
  background-color: rgba($color: white, $alpha: 0.4);
  margin-top: $group-spacing;
  padding: 20px;
  border-radius: 10px;
}

.projectCardWrapper {
  padding-bottom: 20px;
}

.selectableTagsContainer {
  height: 250px;
  overflow-y: scroll;
}

.selectableTag {
  cursor: pointer;
}

.deletableTag {
  margin-right: 5px;
  cursor: pointer;
}

.projectsView {
  background-color: #002456;
  padding-bottom: $group-spacing;
}

.searchSection {
  background-color: $main-bg-color;
  padding: 20px;
}
