.projectCard {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  background-color: #ecccb9;
  cursor: pointer;
}

.projectCard:hover {
  background-color: #e9e7e7;
}
