[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-dotenv = "*"
python-frontmatter = "*"
requests = "*"
pytz = "*"
pillow = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
