@import "./variables.scss";
@import "./content.scss";

.blogContentContainer {
  padding-top: 20px;
  max-width: 800px;
  padding-bottom: 50px;
  @include content;
  h1 {
    font-size: 50pt;
  }
}

.brief {
  border-radius: 10px;
  border-color: #cfcccc;
  border-width: 1px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
  text-decoration: none;
  h3,
  p {
    color: $text-color;
  }
}

.brief:hover {
  border-color: #918a8a;
  cursor: pointer;
}
