@import "./colors.scss";

.blogContentContainer {
  padding-top: 20px;
  max-width: 800px;

  h1 {
    font-size: 36pt;
  }
  h2 {
    font-size: 28pt;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 24pt;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 22pt;
  }
  h5 {
    font-size: 20pt;
  }
  h6 {
    font-size: 18pt;
  }
  p {
    font-size: 16pt;
    line-height: 150%;
  }

  .date {
    font-size: 10pt;
    color: $secondary-color;
  }
}

.subtitle {
  font-size: 18pt;
}

.brief {
  border-radius: 10px;
  border-color: #cfcccc;
  border-width: 1px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  color: $content-color;
}

.brief:hover {
  border-color: #918a8a;
  cursor: pointer;
}
