@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Muli");

$font-family-sans-serif: "Muli", "Roboto", "Helvetica", "Helvetica Neue",
  "Arial", sans-serif;
$headings-font-family: "Comfortaa", "Roboto", "Helvetica", "Helvetica Neue",
  "Arial", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-monospace: "Fira Code", monospace;
