@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Muli");

$font-header: "Comfortaa", "Roboto", "Helvetica", "Helvetica Neue", "Arial",
  sans-serif;
$font-body: "Muli", "Roboto", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$font-mono: "Fira Code", monospace;
