$font-family-sans-serif: "Gothic A1", "Helvetica Neue", "Arial", sans-serif;
$headings-font-family: "Gothic A1", "Helvetica Neue", "Arial", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-monospace: "Fira Code", monospace;
