@import "colors.scss";
@import "fonts.scss";

@import "~bootstrap/scss/bootstrap";

$footer-height: 360px;
$navbar-height: 60px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

p,
li {
  font-family: $font-body;
}

html,
body {
  height: 100%;
  background-color: #ffe0ce;
  color: #333333;
}

.nteract-display-area-stdout {
  font-family: $font-mono;
}

.navbar-toggler {
  border-color: #999999;
  color: $pink;
}

.navbar-brand,
.nav-link {
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.nav-link {
  box-shadow: none;
  color: $pink;
  font-family: $font-header;
  font-size: 16pt;
  border-bottom: none;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  color: $lightblue;
}

.navbar-brand {
  box-shadow: none;
  color: $lightblue;
  font-family: $font-header;
  font-size: 20pt;
}

.navbar-brand:hover {
  color: white;
}

.navbar {
  background-color: #502050;
  height: $navbar-height;
}

.root-wrapper {
  min-height: 100%;
  padding-top: $navbar-height;
  position: relative;
}

main {
  padding-bottom: $footer-height;
  a {
    color: #1d2e82;

    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-bottom: 4px none;
  }

  a:hover {
    color: #8a0b81;
    text-decoration: none;
    border-bottom: 4px dotted #81890b;
  }
}

footer {
  height: $footer-height;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #202030;
  p {
    color: whitesmoke;
  }
}

.wide-card-columns {
  @media (min-width: 34em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 48em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 62em) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  @media (min-width: 75em) {
    .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
}
