@import "colors.scss";
@import "fonts.scss";

@import "~bootstrap/scss/bootstrap";

$footer-height: 360px;
$navbar-height: 60px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

p,
li {
  font-family: $font-body;
}

.nteract-display-area-stdout {
  font-family: $font-mono;
}

.navbar-toggler {
  border-color: #999999;
  color: $pink;
}

.nav-link {
  box-shadow: none;
  color: #f8b0b0;
  font-family: $font-header;
  font-size: 16pt;
}

.nav-link:hover {
  color: red;
}

.navbar-brand {
  box-shadow: none;
  color: rgb(49, 192, 240);
  font-family: $font-header;
  font-size: 20pt;
}

.navbar {
  background-color: #502050;
  height: $navbar-height;
}

.root-wrapper {
  min-height: 100%;
  padding-top: $navbar-height;
  position: relative;
}

main {
  padding-bottom: $footer-height;
}

html,
body {
  height: 100%;
  background-color: #ffe0ce;
}

footer {
  height: $footer-height;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #202030;
  p {
    color: whitesmoke;
  }
}

.wide-card-columns {
  @media (min-width: 34em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 48em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 62em) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  @media (min-width: 75em) {
    .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
}
