@import "colors.scss";
@import "fonts.scss";

@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

$footer-height: 150px;

.navbar-toggler {
  border-color: #999999;
  color: $pink;
}

.nav-link {
  box-shadow: none;
  color: $pink;
}

.nav-link:hover {
  color: red;
}

.navbar-brand {
  box-shadow: none;
  color: lightblue;
}

.navbar {
  background-color: #502050;
}

.root-wrapper {
  min-height: 100%;
  padding-top: 70px;
  position: relative;
}

main {
  padding-bottom: $footer-height;
}

html,
body {
  height: 100%;
}

footer {
  height: $footer-height;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #202030;
}

.projectShowcase {
  @media (min-width: 34em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 48em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 62em) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  @media (min-width: 75em) {
    .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
}
