@import "./variables.scss";

.blogContentContainer {
  max-width: 800px;
  h1 {
    font-size: 50pt;
  }
}

.brief {
  border-radius: 10px;
  border-color: #cfcccc;
  border-width: 1px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
  text-decoration: none;

  h3,
  p {
    color: $text-color;
  }

  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.85rem;
  }
  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

.brief:hover {
  border-color: #918a8a;
  cursor: pointer;
}
