$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-serif: "Merriweather", serif;
$font-family-monospace: "Roboto Mono", monospace;

$headings-font-family: $font-family-monospace;
$font-family-base: $font-family-sans-serif;
